.file-share-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    width: 70vw;
    height: 100vh;
    
}

button {
    background-color: hsl(195, 100%, 38%);
    border-radius: 5px;
    border-color: darkblue;
}

.delete-button {
    background-color: red;
}

input {
    margin: 10px; 

}

.files-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 20px;
}